snippet clv
console.log('$1: ', ${1})
endsnippet

snippet cls
console.log('${VISUAL}: ', ${VISUAL})
endsnippet

snippet cl
console.log('${1}')
endsnippet

snippet rcc
import React, {Component} from 'react'

class $1 extends Component {
  render() {
  }
}

export default $1
endsnippet

snippet rfc
import React from 'react'

const $1 = (props) => (
)

export default $1
endsnippet

snippet Bcomb
Bacon.combineTemplate({
  $1
})
endsnippet
